:root {
    --overlay-clr: rgba(0,0,0, .5);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

.section {
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-inline: 2em;
    position: relative;
    color: #fff;
}

.section--1 {
    background: linear-gradient(90deg, var(--overlay-clr), var(--overlay-clr)), url('./img/g1.jpg') no-repeat center / cover;
}

.section--2 {
    background: linear-gradient(90deg, var(--overlay-clr), var(--overlay-clr)), url('./img/g2.jpg') no-repeat center / cover;
}

.section--3 {
    background: linear-gradient(90deg, var(--overlay-clr), var(--overlay-clr)), url('./img/g3.jpg') no-repeat center / cover;
}

/* .section__bg {
    position: absolute;
    inset: 0;
    z-index: -1;
} */

.section__content {
    max-width: 400px;
}

.section__title {
    font-size: 3rem;
    letter-spacing: 1px;
    margin-block-end: .5em;
}

.section__lead {
    font-size: .9rem;
    line-height: 1.5;
}

.footer {
    background-color: #222;
}

@media screen and (min-width: 600px) {
    .section {
        min-height: 100vh;
    }

    .section__title {
        font-size: 5rem;
    }

    .section__lead {
        font-size: 1.1rem;
    }
}